<!--- liste friends s  with delete button --->
<h3>Friends</h3>
<table id="friends" class="table table-bordered" >
  <%= "Sie besitzen keinen Freund" if @friends.empty?  %>
  <%  @friends.each do |friend|%>
      <tr>
        <td><%= friend.name %></td>
        <td><%=friend.email %></td>
        <td><%= link_to "delete", "/friends/#{friend.id}"  ,:method=>:delete %>  </td>
      </tr>
  <% end %>
</table>
<!--  button to add -->
<!--button id="new_key">New Key</button> -->
<%= form_tag "friends/create",:class=>"form-horizontal" do %>
    <fieldset>
      <legend>New Friend</legend>
         <%= select_tag :friend_id, options_for_select(@other_users.collect{|user|  ["#{user.name} #{user.email} ", user.id] } ) %>
          <%= submit_tag "new Friend",:class=>"btn btn-primary" %>
    </fieldset>
<% end %>

<%= form_tag "friends/create",:class=>"form-horizontal" do %>
    <fieldset>
      <legend>New Friend</legend>
      <%= text_field_tag :friend_name %>
      <%= submit_tag "new Friend",:class=>"btn btn-primary" %>
    </fieldset>
<% end %>


